<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- SEO -->
	<title>Pet Finder</title>
	<meta name="description" content="Split is a centrally-divided layout for a professional online presence with a big image or video left with alongside content." />
	<meta name="robots" content="index, follow" />
	<meta name="referrer" content="always" />

	<!-- Social & Open Graph -->
	<meta property="og:title" content="Split - HTML Template Demo" />
	<meta property="og:description" content="Split is a centrally-divided layout for a professional online presence with a big image or video left with alongside content." />
	<meta property="og:image" content="https://demo.onepagelove.com/fullsingle-html/split/images/social.jpg"> <!-- include your hosted image full URL -->
	<meta property="og:url" content="https://demo.onepagelove.com/fullsingle-html/split/" />
	<meta name="twitter:title" content="Split - HTML Template Demo" >
	<meta name="twitter:description" content="Split is a centrally-divided layout for a professional online presence with a big image or video left with alongside content." />
	<meta name="twitter:image" content="https://demo.onepagelove.com/fullsingle-html/split/images/social.jpg" /> <!-- include your hosted image full URL -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@onepagelove" />
	<meta name="twitter:creator" content="@robhope" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png" sizes="32x32">

	<!-- Styles -->
	<link rel='stylesheet' href='assets/css/split.css' type='text/css' media='screen' />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

<div class="fs-split">

	<!-- Image Side -->
	<div class="split-image">
	</div>

	<!-- Content Side -->
	<div class="split-content">

		<div class="split-content-vertically-center">
		
			<div class="split-intro">
				

				
				<h1>Pet Finder</h1>

				<span class="tagline">Find. Adopt. Love.</span>

			</div>

			<div class="split-bio">
				<style type="text/css">
					.label-item{
						font-size: 30px; color: #47bec7; padding-right: 10px;
						font-family: 'Montserrat', sans-serif;
					}
					.content{
						padding-bottom: 15px;
					}
					select{
						 border-radius: 4px; 
						 font-size: 25px; 
						 width: 100px;
						 display: inline-block; 
						 background-color: #061c30; 
						 border: 2px solid #47bec7; 
						 color: #47bec7;
					}

				</style>
				<form method="post" action="petRand" class="actions" style="">
					<div class="content">
						<label class="label-item">Gender : </label>
						<select name="gender" >
						<option value="">None</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
					</div>
					<div class="content">
					<label class="label-item">Animal : </label>
					<select name="animal">
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="barnyard">Barnyard</option>
						<option value="bird">Bird</option>
						<option value="horse">Horse</option>
						<option value="reptile">Reptile</option>
						<option value="smallfurry">Smallfurry</option>
					</select>
					</div>
					<div class="content">
					<label class="label-item">Size : </label>
					<select name="size" >
						<option value="">None</option>
						<option value="XL">Huge</option>
						<option value="L">Large</option>
						<option value="M">Medium</option>
						<option value="S">Small</option>
					</select>
				</div>
					<button type="submit" style="border-radius: 5px; font-size: 35px; background-color: #47bec7 ;color: #061c30; border:0; cursor: pointer;">GO !</button>
				</form>

			</div>

		
		</div>

	</div>

</div>

</body>
</html>